@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f7f6;
  color: #333;
  line-height: 1.6;
  overflow-x: hidden;
  margin: 0;
}

.logosContainer {
  display: flex;
  position: fixed;
  top: -5px;
  left: -1px;
  z-index: 2;
  padding: 20px;
  align-items: center;
}

.logo {
  width: 80px;
  height: auto;
  padding: 5px;
}

/* Welcome Text */
.welcomeText {
  font-size: 2rem;
  color: #e9e9e9;
  font-family: "Forum", serif;
  font-weight: 400;
  text-align: center;
  /* margin-bottom: 10px; */
}

/* Event Name */
.eventName {
  font-size: 1.8rem;
  color: #f16f06;
  text-align: center;
  font-family: "Forum", serif;
  font-weight: 200;
  /* margin-bottom: 15px; */
}

.eventDetails {
  margin: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgba(22, 39, 79, 0.6);
  position: relative;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0);

}

/* .eventDetails p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #a2cbda; 
  margin: 8px 0;
  font-family: "Mukta", serif;
  font-weight: 100;
   
} */

.eventDetails strong {
  color: #e0dbe3;
  font-weight: bold;
  font-family: "Mukta", serif;
}

.agenda {
  margin: 0;
  text-align: center;
}

.agenda p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #a2cbda;
  margin: 8px 0;
  font-family: "Mukta", serif;
  font-weight: 100;

}

.agenda strong {
  color: #e0dbe3;
  font-weight: bold;
  font-family: "Mukta", serif;
}



.registered {
  font-size: 1.3rem;
  color: #a2cbda;
  text-align: center;
  padding: 10px;
  font-family: "Forum", serif;
  font-weight: 100;
}

/* User Count Circle */
.userCountCircle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ff7f50;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  transition: transform 0.3s ease;
}

.userCountCircle:hover {
  transform: scale(1.1);
}





/* Zoom Button */
.zoomButton {
  display: inline-block;
  background-color: #f58220;
  border-radius: 50px;
  padding: 12px 40px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.zoomButton:hover {
  background-color: #d45e00;
}

.zoomButton img {
  width: 2px !important;
  /* Force image width */
  height: 2px !important;
  /* Force image height */
  vertical-align: middle;
  margin-right: 10px;
}

.zoomButton span {
  vertical-align: middle;
  font-size: 16px;
  color: white;
  font-family: "Mukta", serif;
  font-weight: 200;
}


/* Main Container */
.mainContainer {
  color: #fff;
  background: url('/space.jpeg') no-repeat center center fixed;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  justify-content: center;
}

.mainContainer .signin {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Input Styles */
.mainContainer input {
  background-color: #fff;
  border: none;
  outline: none;
  padding: 12px 30px;
  border-radius: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 20px; */
  /* margin-top: 30px; */
  transition: box-shadow 0.3s ease;
}

.mainContainer input:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Button Styles */
.mainContainer button {
  font-size: 14px;
  border-radius: 30px;
  border: none;
  background-color: #fd6f05;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-family: "Mukta", serif;
  font-weight: 300;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.mainContainer button:hover {
  background-color: #e55a00;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.eventDetails {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.eventDetails h2 {
  font-size: 80px;
  line-height: 60px;
  font-family: "Forum", serif;
  font-weight: 700;
  color: #f16f06;
}

.eventDetails p {
  font-size: 20px;
  line-height: 20px;
}



/* List Styles */
.mainContainer ul {

  display: contents;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 30px;
  padding: 0 15px;
}

.mainContainer li {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

/* Responsiveness */
@media (max-width: 768px) {
  .welcomeText {
    font-size: 2rem;
  }

  .userCountCircle {
    width: 100px;
    height: 100px;
    font-size: 2rem;
  }

  /* .mainContainer input {
    padding: 10px 20px;
  } */

  .mainContainer button {
    padding: 10px 25px;
  }
}

.loginInput{
  display: flex;
    flex-direction: column;
    align-items: center;
}
/* .logoContainer {
  display: flex;
  position: fixed;
  top: -5px;
  left: -1px;
  z-index: 2;
  align-items: center;
} */

.logos {
  width: 60px;
  height: auto;
  padding: 5px;
}



/* From Uiverse.io by fanishah */
.loading-bar {
  position: relative;
  width: 110px;
  height: 110px;
  background: transparent;
  /* border: px solid #3c3c3c; */
  border-radius: 50%;
  text-align: center;
  line-height: 111px;
  font-family: sans-serif;
  font-size: 35px;
  color: #f16f06;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 0 0 20px #f4730a;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.logoContainer {
  position: relative;
  width: 300px;
}

.logoContainer img{
  width: 100%;
  z-index: 1;
  position: relative;
}

.logoContainer:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /* position: relative; */
  /* background: rgb(255, 255, 255); */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+74&1+0,0+74 */
background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 60%, rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

z-index: 0;
}

.loading-bar:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 5px solid #dde0e7;
  border-right: 5px solid #dde0e7;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

.zoomLinkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* margin: 20px;  */
  max-width: 300px;
}

.zoomLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.zoomLink img {
  margin-right: 8px;
  /* Space between the icon and text */
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Full viewport height */
}

/* Loader styles */
.load {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

.mainContainer {
  padding: 20px;
}

.agenda {
  margin-top: 0;
}

.eventDetails {
  margin-top: 0px;
}

.zoomLinkContainer {
  /* margin-top: 20px; */
}

.loading-bar {
  margin-top: 20px;
}

.logout {
  /* margin-top: 20px; */
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.modal-content .close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333; 
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white; /* Changed to white */
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 80%;
  text-align: center;
  position: relative; /* Added to position close button correctly */
  color: black; /* Set text color to black */
}

/* button {
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
} */