:root {
  --orange: #f16f06;
  --blue: #a2cbda;
  --darkblue : #16274f;
  --brown : #323232;
  --white : #e2e2e2;
}
.maincontainer {
    width: calc(100% - 70px);
      padding: 25px;
      margin-left: 70px;
      margin-top: 70px;
      box-sizing: border-box;
  }
  
  .maincontainer.expand {
    width: calc(100% - 200px);
    margin-left: 300px;
  }
  
  
  
  .logoContainer {
    display: flex;
    position: fixed;
    top: -5px;
    left: -1px;
    z-index: 2;
    align-items: center;
  }
  
  .logos { 
    width: 60px;
    height: auto;
    padding: 5px;
  }
      
      .ham-menu-btn {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 150px;
        cursor: pointer;
    
        span {
          background-color: #636e75;
          display: block;
          width: 25px;
          height: 3px;
          position: relative;
          margin-bottom: 5px;
    
          &:nth-child(2) {
            width: 15px;
          }
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    
  
      
      .m-header {
        display: flex;
        justify-content: space-between;
        padding: 0.38rem 1.40rem;
        position: fixed;
        left: 0px;
        background-color: white;
        box-shadow: 0px 0px 15px rgba(161, 158, 158, 0.911);
        width: 97%;
        top: 0px;
        overflow: auto;
        z-index: 1;
    }
    
    .headerRight {
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: space-between;
    }
    
    .headerRight > div {
        position: relative;
        padding: 20px 15px;
        align-items: center;
        display: flex;
        margin-left: 20px;
        font-size: 14px;
    }
    
    .headerRight button {
        background: transparent;
        border: none;
        display: flex;
      border-radius: 20px;
        font-size: 18px;
        align-items: center;
        width: 120px;
        cursor: pointer;
        font-family: 'Arial', sans-serif;
        transition: background-color 0.3s ease;
    }
   
  .headerRight button:hover {
    background-color:var(--blue);
  }
  
    .headerRight button .icon-rotate-90 {
        transform: rotate(90deg);
        font-size: 24px;
        margin-right: 5px;
    }
  
    .headerRight button .icons{
    font-size: 26px;
      padding-top: 2px;
      margin-right: 5px;
    }
    .headerLeft {
        display: flex;
        background-color: #343a40;
    }
    .m-navbar {
      background-color: #fff;
      padding-top: 255px;
      width: 70px;
      height: 100vh;
      box-shadow: 0px 0px 15px rgba(161, 158, 158, 0.911); /* Replace @extend.navboxshadowlight with box-shadow */
      box-sizing: border-box;
      position: fixed;
      left: 0px;
      top: 72px;
      z-index: 50;
  }
  
  .m-navbar.unexpand > ul > li:hover::before {
      width: 300px;
      height: 53px;
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: #10345e; /* Replace $bluecolor with actual color */
  }
  
  .m-navbar.unexpand > ul > li:hover .linklabel {
      display: block;
      padding-left: 55px;
      color: #fff;
  }
  
  .m-navbar.unexpand > ul > li:hover .icons {
      color: #fff;
  }
  
  .m-navbar.unexpand > ul > li:hover > ul {
      display: block;
      background-color: #fff;
      width: 230px;
      position: absolute;
      padding-left: 15px;
      margin-top: 0px;
      left: 70px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Replace @extend .boxshadowdark with box-shadow */
  }
  
  .m-navbar > ul {
      padding: 0;
  }
  
  .m-navbar > ul > li {
      position: relative;
      list-style-type: none;
      top: -250px;
  }
  
  .m-navbar > ul > li > ul {
      padding-left: 50px;
      color: #6c757d; /* Replace $iconscolor with actual color */
      font-family: "Work Sans", sans-serif;
      font-size: 16px;
      margin-bottom: 10px;
      margin-top: -5px;
      display: none;
  }
  
  .m-navbar > ul > li > ul li {
      padding: 8px 10px;
  }
  
  .m-navbar a {
      padding: 15px 20px;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 1;
      text-decoration: none;
  }
  
  .m-navbar a:hover {
      width: 30px;
      cursor: pointer;
  }
  
  .m-navbar .submenuIcon {
      color: #6c757d; /* Replace $iconscolor with actual color */
      font-size: 20px;
      position: absolute;
      right: 20px;
      display: none;
  }
  
  .m-navbar .icons {
      color: #74788d; /* Replace $iconscolor with actual color */
      font-size: 20px;
  }
  
  .m-navbar .linklabel {
      color: #1f4f78; /* Replace $iconscolor with actual color */
      font-family: "Work Sans", sans-serif;
      font-size: 16px;
      display: none;
      letter-spacing: 1px;
  }
  .space {
    margin-left: 10px; /* Add space between "Leave" and "Requests" */
  }
  
  .m-navbar.expand {
      width: 300px;
  }
  
  .m-navbar.expand li .submenuIcon {
      display: block;
  }
  
  .m-navbar.expand .linklabel {
      display: flex;
  }
  .m-button-5 {
    width: 6em;
    height: 2em;
    border-radius: 30em;
    /* font-size: 15px; */
    /* font-family: inherit; */
    padding: 0 30px;
    border: none;
    position: relative;
    overflow: hidden;
    color: #16274f;
    z-index: 1;
    border: 1px solid #16274f;
    background-color: transparent;
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    transition: .5s ease;
    cursor: pointer;
    text-decoration: none;
    float: right;
    top: -58px;
  }
  
  .m-button-5::before {
    content: '';
    width: 0;
    height: 2em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #a2cbda 0%, #16274f 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
  }
  
  .m-button-5:hover::before {
    width: 100%;
  }
  
  .m-button-5:hover {
    /* width:100%; */
    color: #FFF;
  }
  
  .users-table-container {
    padding: 35px;
      background-color: #fff;
      background-clip: border-box;
      min-width: 0;
      word-wrap: break-word;
      border-radius: 0.4rem;
  }
  
  
  .users-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .users-table th, .users-table td {
    vertical-align: middle;
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
  }
  
  
  .users-table tbody tr:nth-child(even) {
    background-color: #f1f5f7;
  }
  
  
  .users-table thead th {
    font-weight: 700;
    color: #505d69;
    font-size: 18px;
    padding: 10px;
    text-align: start;
    border: 1px solid #f1f1f1;
  }
  
  .no-user-data {
    text-align: center;
    color: #888;
    font-size: 18px;
    margin-top: 20px;
  }
  .user-link {
    color: black;
    text-decoration: none;
    
  }
  
  .user-link:hover {
    text-decoration:none;
  }
  
  @media (max-width: 767px) {
  
  .m-header{
    width: 91%;
  } 
  
  
  .sessions-table-container {
    padding: 35px 20px 10px 90px;
  }
  
  .m-navbar{
    height: 140vh;
  }
  }
  
  .leave-requests-container {
    padding: 35px;
      background-color: #fff;
      background-clip: border-box;
      min-width: 0;
      word-wrap: break-word;
      border-radius: 0.4rem;
  }
  
  
  .leave-requests-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .leave-requests-table th, .leave-requests-table td {
    vertical-align: middle;
      padding: 10px;
      border-bottom: 1px solid #f1f1f1;
  
  }
  
  
  .leave-requests-table tbody tr:nth-child(even) {
    background-color: #f1f5f7;
  }
  
  
  .leave-requests-table thead th {
    font-weight: 700;
    color: #505d69;
    font-size: 18px;
    padding: 10px;
    text-align: start;
    border: 1px solid #f1f1f1;
  }
  h2 {
    font-family: 'Forum', sans-serif;
    font-weight: 700; /* You can change the weight depending on your design */
    font-size: 24px; /* Adjust font size if needed */
    color: var(--darkblue) /* Change the text color if required */
  }
  .view-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: black;
    background-color: (var(--darkblue)); /* Blue background */
    border-radius: 5px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .view-link:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: scale(1.05);
  }
  
  .view-link:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5); /* Blue outline on focus */
  }

  
  .leave-container {
    margin-bottom: 20px;
  }
  
  .leave-container label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 400;
    color: #323232;
  }
  
  .leave-container input[type="text"],
  .leave-container input[type="datetime-local"]
  .leave-container input[type="date"],
  .leave-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dfe6e9;
    border-radius: 5px;
    font-size: 16px;
    color: #34495e;
    box-sizing: border-box;
    background-color: #f7f9fc;
    /* box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); */
    transition: border-color 0.3s ease;
  }
  
  .leave-container input[type="text"]:focus,
  .leave-container input[type="date"]:focus,
  .leave-container input[type="datetime-local"]:focus,
  .leave-container textarea:focus {
    border-color: #3498db;
    outline: none;
  }
  
  .leave-container textarea {
    resize: vertical;
    min-height: 120px;
  }
  @media (max-width: 767px) {
  
    .leave-requests-container{
      width: 160%;
    }
  }

  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .form-group input, 
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  .button-container{width:100%; display: flex; justify-content: space-between; column-gap: 20px;}
  .m-button-3.submit-btn, .m-button-4.submit-btn{width: 45%;}
  .date-group {
    display: flex;
    gap: 30px; /* Adjusted space between start and end date fields */
  }
  
  .date-group .form-group {
    flex: 1;
  }
  
  .button-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .buttons, .back-button {
    padding: 10px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .buttons {
    background-color: #007bff;
    color: #fff;
  }
  
  .buttons:hover {
    background-color: #0056b3;
  }
  
  .back-button {
    background-color: #6c757d;
    color: #fff;
  }
  
  .back-button:hover {
    background-color: #5a6268;
  }
  
  /* Style for the dropdown */
.form-group select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #fff;
  appearance: none; /* Hides the default dropdown arrow */
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="#333" d="M2 0L0 2h4z"/></svg>'); /* Custom arrow */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Position the arrow */
  background-size: 10px; /* Adjust the size of the arrow */
  cursor: pointer;
}

/* Hover and focus states */
.form-group select:hover, .form-group select:focus {
  border-color: #007bff;
  outline: none;
}

/* Dropdown arrow positioning */
.form-group {
  position: relative;
}

.form-group select:focus {
  outline: none;
}

/* Adjusting the custom arrow's container */
.form-group select::-ms-expand {
  display: none; /* For IE */
}

.m-button-6 {
  width: 50px;
  height: 2.2em;
  border-radius: 30em;
  /* font-size: 15px; */
  /* font-family: inherit; */
  padding: 0 30px;
  border: none;
  position: relative;
  overflow: hidden;
  color: var(--orange);
  z-index: 1;
  border: 1px solid var(--orange);
  background-color: transparent;
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
  transition: .5s ease;
  cursor: pointer;
  text-decoration: none;
}

.m-button-6:hover {
  background-color: #e2e2e2; /* Darker blue on hover */
  transform: scale(1.05);
}
.m-button {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  /* font-size: 15px; */
  /* font-family: inherit; */
  border: none;
  position: relative;
  overflow: hidden;
  color: #FFF;
  z-index: 1;
  background-color: #f16f06;
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: .5s ease;
  text-decoration: none;
}

.m-button::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #a2cbda 0%, #819eb0 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.m-button:hover::before {
  width: 100%;
}

.m-button:hover {
  color: #16274f;
}


.m-button-5 {
  width: 6em;
  height: 2em;
  border-radius: 30em;
  /* font-size: 15px; */
  /* font-family: inherit; */
  padding: 0 30px;
  border: none;
  position: relative;
  overflow: hidden;
  color: #16274f;
  z-index: 1;
  border: 1px solid #16274f;
  background-color: transparent;
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
  transition: .5s ease;
  cursor: pointer;
  text-decoration: none;
  float: right;
  top: -58px;
}

.m-button-5::before {
  content: '';
  width: 0;
  height: 2em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #a2cbda 0%, #16274f 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.m-button-5:hover::before {
  width: 100%;
}

.m-button-5:hover {
  /* width:100%; */
  color: #FFF;
}