// color
$mcolor:#fe6f06;
$borderclr:#dce1ed;
$textclr:#b1b7ca;

$greybg:#f3f3f4;
$orange:#fcb92c;
$redcolor:#ff3d60;
$headingcolor:#343a40;
$bodytextcolor:#505d69;
$greencolor:#0ac074;
$navbarcolor:#636e75;
$iconscolor:#74788d;
$bluecolor:#16274f;
$bordercolor:#ced4da;
$radiobtn:#0bb197;
// $iconclr:#d1d4df;

//font varialble
$mukta :'Mukta', sans-serif;
$forum : 'Forum', cursive;








